{
	"logLevel": "info",
	"ClientId": "myclientid",
	"ClientSecret": "myclientsecret",
	"BaseURL": "https://mytenant.api.identitynow.com",
	"CiemConfig": {
		"OAuthUrlPath": "/oauth/token",
		"CiemBaseUrl": "https://mytenant.cam.sailpoint.com",
		"ResourceAccessUrlPath": "/v1/inventory/resource-access-report",
		"UnusedAccessUrlPath": "/v1/activity/unused-access-report",
		"CloudEnabledEntitlementsUrlPath": "/v1/inventory/effective-access/supported-entitlements",
		"ResourceAccessPathsUrlPath": "/v1/inventory/effective-access/resource-access-paths",
		"InputReportsDir": "ciem_input_reports",
		"ResourceAccessReportName": "ResourceAccessReport.zip",
		"UnusedAccessReportName": "90DayUnusedCloudAdministrativeActivityData.zip",
		"ResourceAccessReportDir": "resource_access_reports",
		"UnusedAccessReportDir": "90day_unused_access_reports",
		"ReportNameSplitCharacter": "_",
		"AccessPathSeparator": ";",
		"AccessPathStepSeparator": "#",
		"GovernancePoliciesFileName": "ciem_governance_policies.csv",
		"OutputReportsDir": "ciem_output_reports",
		"OutputReportNameCGEntitlements": "cloud_governed_entitlements",
		"IncludedIdentityAttributes": {
			"id": "IdentityId",
			"name": "IdentityName",
			"firstName": "IdentityFirstname",
			"lastName": "IdentityLastname",
			"displayName": "IdentityDisplayName",
			"email": "IdentityEmail",
			"employeeNumber": "IdentityEmployeeNumber",
			"attributes.uid": "IdentityUsername",
			"attributes.cloudLifecycleState": "IdentityLifecycleState",
			"attributes.startDate": "IdentityStartDate",
			"attributes.endDate": "IdentityEndDate",
			"attributes.jobTitle": "IdentityJobTitle",
			"attributes.department": "IdentityDepartment",
			"attributes.location": "IdentityLocation",
			"manager.id": "IdentityManagerId",
			"manager.name": "IdentityManagerName",
			"manager.displayName": "IdentityManagerDisplayName"
		}
	}
}